<div class="wrapper">
<header class="header">
  <img class="header__image" src="/assets/img/uber-logo-5-1.png" alt="Logo Uber"
  />
</header>
<main class="main">
  <img class="main__image" src="/assets/img/modo-uber.png" alt="Modo Uber" />
  <h1 class="main__h1">Modo celebrando-nuestras-aventuras-del-2021.</h1>
  <p class="main__paragraph">
    Gracias por elegir a Uber para hacer que este año se sintiera un poco más
    cercano a lo normal. Mira debajo algunos de nuestros momentos especiales.
  </p>
  <img class="main__image main__image--bigger" src="/assets/img/2021.png" alt="2021" />
  <div class="container-size">
    <div class="container-title">
      <h2 class="container-title__title">Este 2021 tuvimos muchos momentos para disfrutar.</h2>
    </div>
    <div class="container-paragraph">
      <p class="container-paragraph__paragraph">
        Toma una captura de pantalla y usa #ModoUber2021 para compartir tus mejores 
        momentos.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="container__card container__card--color1">
      <img class="container__image" src="/assets/img/car.png" alt="Carro" />
      <p class="container__paragraph">
        Hiciste <span class="container__span">30</span> viajes con la app de
        Uber. Tú marcaste el camino pero te ayudamos a conseguir a alguien
        detrás del volante.
      </p>
    </div>
    <div class="container__card container__card--color2">
      <p class="container__paragraph">
        Has viajado más de <span class="container__span">178</span> kilómetros.
        Una gran forma de llegar a tus diferentes destinos.
      </p>
      <img class="container__image" src="/assets/img/location.png" alt="Mapa" />
    </div>
    <div class="container__card container__card--color3">
      <img class="container__image" src="/assets/img/watch.png" alt="Reloj" />
      <p class="container__paragraph">
        Pasaste <span class="container__span">472</span> minutos en el camino.
        ¿Disfrutaste del paisaje?
      </p>
    </div>
    <div class="container__card container__card--color4">
      <p class="container__paragraph">
        2021 fue el año del <span class="container__span">Logan</span>De hecho,
        fue el vehículo que más veces usaste.
      </p>
      <img class="container__image" src="/assets/img/black-car.png" alt="Logan"
    />
    </div>
    <div class="container__card container__card--color5">
      <img class="container__image" src="/assets/img/keys.png" alt="Llaves" />
      <p class="container__paragraph">
        <span class="container__span">Edwar Milton</span> fue tu socio conductor
        personal. ¡Es broma! Edwar Milton fue el nombre más común.
      </p>
    </div>
    <div class="container__card container__card--color6">
      <p class="container__paragraph">
        Viajaste más en <span class="container__span">Domingo</span>Quiere decir
        que hubo más diversión (o más trabajo).
      </p>
      <img class="container__image" src="/assets/img/calendar.png" alt="Calendario"
    />
    </div>
  </div>
  <h2 class="main__title">Estamos ansiosos por saber qué sigue.</h2>
  <p class="main__paragraph--smaller">
    Quizás visitarás nuevos lugares o probarás nuevos tipos de comida: sea lo
    que sea, aquí estamos para hacerlo más fácil para ti.
  </p>
  <p class="main__paragraph--smaller">Empecemos ❯</p>
  <img class="main__image main__image--bigger" src="/assets/img/binoculars.png" alt="" />
  <div class="dark-container">
    <p class="dark-container__paragraph">
      Únicamente para Colombia y Honduras: Para efectos de claridad, en caso de
      que en la presente comunicación se muestre la palabra "viaje" y/o
      "conducir", éstas significarán "arrendamiento" y/o "realizar un
      arrendamiento". Asimismo, en caso de presentarse la palabra "socio
      conductor", “socio” y/o "conductor", éstas significarán "arrendador".
    </p>
  </div>
</main>
<footer class="footer">
  <div class="footer-container">
    <a class="footer-container__anchor" href="#"
      ><span class="footer-container__span">Centro de ayuda</span></a
    >
    <a class="footer-container__anchor" href="#"
      ><span class="footer-container__span">Eliminar suscripción</span></a
    >
    <a class="footer-container__anchor" href="#"
      ><span class="footer-container__span">Términos</span></a
    >
    <a class="footer-container__anchor" href="#"
      ><span class="footer-container__span">Privacidad</span></a
    >
    <a class="footer-container__anchor" href="#"
      ><span class="footer-container__span"
        >Preferencias de correo electrónico</span
      ></a
    >
  </div>
  <div class="footer-container--secondary">
    <img class="footer-container--secondary__img" src="/assets/img/facebook.png" alt="Facebook">
    <img class="footer-container--secondary__img" src="/assets/img/twitter.png" alt="Twitter">
    <img class="footer-container--secondary__img" src="/assets/img/instagram.png" alt="Instagram">
  </div>
  <div class="footer__container">
    <p class="footer-container__paragraph">Rasier Operations B.V.</p>
    <p class="footer-container__paragraph">Mr. Treublaan 7</p>
    <p class="footer-container__paragraph">1097 DP Amsterdam</p>
    <a class="footer-container__anchor" href="#"
      ><span class="footer-container__span">Uber.com</span></a
    >
  </div>
</footer>
</div>
